<h2>Student Details</h2>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b><br>
  <%= @student.name %>
</p>

<p>
  <b>Email:</b><br>
  <%= @student.email %>
</p>

<p>
  <b>Url:</b><br>
  <%= @student.url %>
</p>

<p>
  <b>Bio:</b><br>
  <%= @student.bio %>
</p>

<%= link_to 'Back', students_path %>
